In [1]:
import pandas as pd
import numpy as np

In [2]:

# https://www.football-data.co.uk/mmz4281/2425/E0.csv
# https://www.football-data.co.uk/mmz4281/2425/E1.csv
# https://www.football-data.co.uk/mmz4281/2425/E2.csv
# https://www.football-data.co.uk/mmz4281/2324/E0.csv

In [3]:
root_link ="https://www.football-data.co.uk/mmz4281/"
a=int(input("how many leagues data you want to explore?"))
if a <1 or a>5:
    print("invalid input")
else:
    list1 =[]
    dict = {}    
    for i in range(1,a+1):

        year=input("which year league you want to explore?")
        modifiied_year=year[2:]
        pre_year=int(modifiied_year)-1
        link_year=str(pre_year)+modifiied_year #
        league=int(input("which league you want to explore? options: " \
        "1:2::3:4 "))
        
        def get_league(league):
            if league <1 or league > 4:
                print("invalid")
                league=int(input("which league you want to explore? 1 for E0, 2 for E1, 3 for E2:  "))
                et_league(league)
            else:
                league=league-1
                l=link_league="E"+ str(league)
                return l


        l=get_league(league)
        link_link = root_link + link_year + "/" + l + ".csv"
        print("your verified link is :/n", link_link)
        list1.append(link_link)
        variable ="df"
        link_variable = variable + str(i)
        dict[link_variable]=list1[i-1]

print(dict)

your verified link is :/n https://www.football-data.co.uk/mmz4281/2425/E1.csv
your verified link is :/n https://www.football-data.co.uk/mmz4281/2425/E2.csv
{'df1': 'https://www.football-data.co.uk/mmz4281/2425/E1.csv', 'df2': 'https://www.football-data.co.uk/mmz4281/2425/E2.csv'}

In [5]:
df=dict['df1']
df=pd.read_csv(dict['df2'])
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E2,09/08/2024,20:00,Barnsley,Mansfield,1,2,A,1,2,...,2.03,1.83,2.02,1.87,2.05,2.00,1.95,1.85,2.06,1.93
1,E2,10/08/2024,17:30,Birmingham,Reading,1,1,D,0,1,...,1.80,2.05,1.81,2.10,1.83,2.10,1.80,2.01,1.82,2.16
2,E2,10/08/2024,17:30,Bristol Rvs,Northampton,1,0,H,0,0,...,1.98,1.88,1.98,1.91,1.98,1.92,1.93,1.86,2.02,1.97
3,E2,10/08/2024,17:30,Burton,Lincoln,2,3,A,2,2,...,1.80,2.05,1.82,2.08,1.88,2.09,1.80,2.01,1.88,2.11
4,E2,10/08/2024,17:30,Crawley Town,Blackpool,2,1,H,2,0,...,1.83,2.03,1.85,2.04,1.86,2.05,1.82,1.99,1.89,2.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E2,03/05/2025,15:00,Northampton,Wigan,1,1,D,1,0,...,2.05,1.80,2.09,1.78,2.11,1.80,2.03,1.78,2.13,1.84
548,E2,03/05/2025,15:00,Reading,Barnsley,2,4,A,0,0,...,1.85,2.00,1.79,2.07,1.85,2.12,1.79,2.03,1.87,2.11
549,E2,03/05/2025,15:00,Rotherham,Peterboro,2,1,H,1,1,...,1.93,1.93,1.93,1.92,2.00,1.95,1.91,1.89,1.98,2.00
550,E2,03/05/2025,15:00,Shrewsbury,Crawley Town,1,2,A,0,0,...,2.03,1.83,2.05,1.81,2.10,1.83,2.03,1.79,2.11,1.87
551,E2,03/05/2025,15:00,Wycombe,Stockport,1,3,A,1,0,...,1.85,2.00,1.87,1.99,1.87,2.15,1.80,2.04,1.88,2.11